.Element-view {
  width: 100%;
  height: 80vh;
  background-color: rgb(190, 190, 193);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Outer-view {
  height: 96vh;
  width: 96%;
  margin-top: 2vh;
  background-color: transparent;
}

.Field-identifier {
  width: 100%;
  height: 3vh;
  background-color: rgb(176, 176, 176);
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Identifier-generic{
  height: 100%;
  padding-top: 0.3vh;
  border-right-style: dashed;
  border-right-color: black;
  max-height: 3vh;
}

.Commit-button {
  width: 100%;
  height: 4vh;
  background-color: rgb(131, 179, 131);
  margin-top: 0.7vh;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: background-color 0.2s;
}

.Commit-button:hover {
  background-color: rgb(130, 216, 130);
}

.Date-picker {
  border-color: transparent;
  margin-top: 0.3vh;
  margin-right: 0.3vw;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  background-color: #d1d1d1;
  height: 70%;
  transition: background-color 0.2s;
}

.Date-picker:hover {
  background-color: #45b9d6;
}

.Log-toolbar-button {
  width: 3vw;
  height: 78%;
  margin-top: 0.3vh;
  background-color: #d1d1d1;
  margin-right: 0.3vw;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}

#Search-icon {
  height: 50%;
  width: 50%;
}

#New-icon {
  height: 60%;
  width: 60%;
}

.Log-toolbar-button:hover {
  background-color: #79ba31;
}

::-webkit-scrollbar {
  width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #0c647d;
  border-radius: 5px;
  }